body {
  margin: 0;
  padding: 0;
}

.my-flex-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.menu {
  width: 15rem;
  background-color: cadetblue;
  border-right: 1px solid black;
}

.content {
  flex-grow: 1;
  background-color: bisque;
}

/*
Jugamos con:
.menu {
  flex-grow: 1;
  background-color: cadetblue;
  border-right: 1px solid black;
}

.content {
  flex-grow: 1;
  background-color: bisque;
}

*/
