.container {
  background-color: gainsboro;
  margin-top: 50px;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 3px solid midnightblue;
  background-color: steelblue;
}

#element {
  background-color: orange;
  border: 3px solid darkorange;
}

/* Cambio a relativo para observar que se desplaza pero no sale del flujo
#element {
  background-color: orange;
  border: 3px solid darkorange;
  position: relative;
  top: 30px;
  left: 30px;
}
*/

/* Cambio a absoluto para observar que sale del flujo y se posiciona en el primer padre posicionado (el root)
#element {
  background-color: orange;
  border: 3px solid darkorange;
  position: absolute;
  top: 30px;
  left: 30px;
}
*/

/* Cambio a relativo y se observa que box-b se posiciones en relacion con el container
/*.container {
  background-color: gainsboro;
  margin-top: 50px;
  position: relative;
}*/

/* Cambio a fixed para ver que sale del contenedor y no le afecta el scroll
/*
#box-b {
  position: fixed;
  left: 50px;
  top: 0px;
  background-color: goldenrod;
}
*/

/* El comportamiento de sticky es una mezcla de abosolute y fixed
/*
#element {
  background-color: orange;
  border: 3px solid darkorange;
  position: sticky;
  top: 30px;
  left: 30px;
}
*/
