/* footer styles */
.footer {
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
}

.footer__img {
	width: 50px;
}

.footer__copy {
	font-size: 0.5rem;
	align-self: flex-end;
	color: lightslategray;
}
