@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "./header.styles.css";
@import "./main.styles.css";
@import "./footer.styles.css";

/* Basic reset CSS */
* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	min-width: 600px;
}

*::before,
*::after {
	box-sizing: inherit;
}
