.title {
	display: block;
}
.container {
	border: 5px solid gray;
	margin: 2% auto;
	padding: 2% 0;
}

.inline-block {
	display: inline-block;
}
.block {
	border: 2px solid red;
	/* padding: 3%;
	margin: 5%; */
}

.inline {
	height: 200px;
	width: 800px;
	/* padding: 3%;
	margin: 5%; */
}

.inline1 {
	border: 2px solid purple;
}
.inline2 {
	border: 2px solid greenyellow;
}

.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
	/* width: 100%; */
}

.grid {
	display: grid;
}
.inline-grid {
	display: inline-grid;
}

.none {
	display: none;
}
