body {
	background-color: rgb(22, 21, 17);
}
.grid {
	display: grid;
	/* grid-template-rows: 150px 150px;
	grid-template-columns: [primera] 150px [segunda] 150px [tercera] 150px [ultima]; */
	/* grid-auto-columns: 100px;
	grid-auto-rows: auto; */
	gap: 20px;
	margin: 0 auto;
	width: 800px;
	height: 650px;
	grid-template:
		[f1l1] "a b c" 150px [f1l2]
		"a b c" 150px
		"a d e" 150px / [c1] 150px 150px 150px [c2];
	/* grid-auto-rows: 200px; */
	/* grid-auto-columns: 100px;
	grid-auto-flow: column; */
	border: 10px solid yellowgreen;
	/* justify-content: center; */
	/* align-content: center; */
	/* justify-items: first baseline; */
	/* align-items: flex-start; */
	justify-content: flex-start;
	align-content: flex-start;
}

.a {
	/* grid-area: a; */
	background-color: teal;

	grid-row-start: f1l1;
	grid-row-end: f1l2;
	/* grid-row: span 3; */
	grid-column-start: 1;
	grid-column-end: 3;
	z-index: -100;
	/* grid-row-end: span 6; */
}
.b {
	/* grid-area: b; */
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	background-color: thistle;
	opacity: 0.5;
}
.c {
	/* grid-area: c; */
	background-color: tomato;
}
.d {
	/* grid-area: d; */
	background-color: tan;
}
.e {
	/* grid-area: e; */
	background-color: steelblue;
}
.cell {
	border: 1px solid white;
}
.cell span {
	border: 1px solid yellowgreen;
}

/* .cell2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	color: white;
	font-size: 4rem;
	font-weight: bold;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */
